---
import { Button, Input } from '..';
import type { Translations } from '../../utils/typings';

interface Props {
    T: Translations['CONTACT']['FORM']
}

const { T } = Astro.props;

---

<form
    class="flex flex-col desktop:grid desktop:grid-cols-4 gap-12 py-12 w-full"
    method="POST"
    transition-persist="form"
    id="contact-form"
    novalidate
> 
    <!-- TODO: DRY -->
    <Input
        name="name"
        label={T.FIELDS.NAME.VALUE}
        errorMessage={T.FIELDS.NAME.ERROR}
        className="col-span-2"
    />
    <Input
        name="email"
        label={T.FIELDS.EMAIL.VALUE}
        errorMessage={T.FIELDS.EMAIL.ERROR}
        className="col-span-2"
    />
    <Input
        name="subject"
        label={T.FIELDS.SUBJECT.VALUE}
        errorMessage={T.FIELDS.SUBJECT.ERROR}
        className="col-span-4"
    />
    <Input
        name="message"
        label={T.FIELDS.MESSAGE.VALUE}
        errorMessage={T.FIELDS.MESSAGE.ERROR}
        inputType="textarea"
        className="col-span-4 h-48"
    />
    <Button type="submit" className="col-start-2 col-end-4">{T.BUTTON}</Button>
</form>



<script>
    import { setupListener } from './form.utils';
  
    document.addEventListener('DOMContentLoaded', () => setupListener());
    document.addEventListener('astro:page-load', () => setupListener())
</script>