---
import { Carousel, ContentContainer, H2, P, Section } from '../../components';
import { IntroSection } from '../../sections';
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/feats_wide.png';
import type { Translations } from '../../utils/typings';

interface Props {
  T: Translations['FEATS']
}

const { T } = Astro.props;

---

<Layout title="Feats - Professional Accomplishments">
  <main transition:name="feats" class="flex-grow">
    <IntroSection
      id="feats",
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION_LONG}
    />
    { T.FEATS.map((feat, idx) => (
      <Section backgroundColor={idx % 2 === 0 ? 'secondary' : 'primary'}>
        <ContentContainer singleContainer>
          <H2>{feat.TITLE}</H2>
          <P>{feat.DESCRIPTION}</P>
          <Carousel slides={feat.SLIDES}/>
        </ContentContainer>
      </Section>
    ))}
  </main>
</Layout>