---
import { ContentContainer, Form, H2, P, Section } from '../../components';
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/contact.png';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';
import { prepareMails } from './send-mail';


interface Props {
  T: Translations
}

const { T } = Astro.props;
const CONTACT_T = T['CONTACT']

const isGet = Astro.request.method === 'GET';
let success;

if (!isGet) {
  const rawData = await Astro.request.text();
  const searchParams = new URLSearchParams(rawData);

  const data = {
    name: searchParams.get('name')!,
    email: searchParams.get('email')!,
    subject: searchParams.get('subject')!,
    message: searchParams.get('message')!,
  }

  success = await prepareMails(data);
}

---

<Layout title="Contact - Get in Touch" T={T}>
  <main transition:name="contact" class="flex-grow mt-header">
    <IntroSection
      id="contact",
      image={image}
      title={CONTACT_T.TITLE}
      description={CONTACT_T.DESCRIPTION_LONG}
    />

    <!-- Contact Form -->
    <Section>
      <ContentContainer singleContainer>
        { isGet ? 
            <H2 type="xl">{CONTACT_T.WELCOME}</H2>
            <Form T={CONTACT_T.FORM}/>
          :
          success ? 
            <H2 type="xl" className="mb-12">{CONTACT_T.THANKS}</H2>
            <P type="xl" className="text-center">{CONTACT_T.THANKS2}</P>
          :
            <H2 type="xl" className="mb-12">{CONTACT_T.ERROR}</H2>
            <P type="xl" className="text-center">{CONTACT_T.ERROR2}</P>
        }
      </ContentContainer>
    </Section>
  </main>
</Layout>