---
import { Image } from 'astro:assets';
import { H3, P } from '..';
interface Props {
    src: ImageMetadata,
    alt: string,
	href: string;
	title: string;
	description: string;
}

const { src, alt, href, title, description } = Astro.props;
const beforeElClasses = 'before:w-[calc(100%_+_4px)] before:h-[calc(100%_+_4px)] before:absolute before:-top-0.5 before:-left-0.5 before:bg-gradient-to-br before:from-clr-primary before:to-clr-secondary before:rounded-3xl';
---

<a href={href} class="grayscale-50 hover:grayscale-0 transition-all duration-500 group rounded-xl p-8 flex flex-col gap-8 items-center border-contrast shadow-contrast shadow-sm border-2 cursor-pointer">
	<div class={`rounded-3xl relative ${beforeElClasses}`}>
		<div class="relative rounded-3xl overflow-hidden w-full z-10">
			<Image src={src} alt={alt} width={800} class="w-full group-hover:scale-105 transition-transform duration-500"/>
		</div>
	</div>
	<H3>{title}</H3>
	<div class="h-1 w-1/2 bg-gradient-to-r from-clr-primary to-clr-secondary rounded-3xl"></div>
	<P>{description}</P>
</a>
