---
import CardContent from './CardContent/CardContent.astro';

interface Props {
	id?: string,
    src: ImageMetadata,
    alt: string,
	title: string;
	description: string;
	tools: string;
}

const { src, alt, title, description, id = '', tools } = Astro.props;
const containerClasses = 'grayscale-50 hover:grayscale-0 transition-all duration-500 group rounded-xl p-8 flex flex-col gap-8 items-center border-contrast shadow-contrast shadow-sm border-2';

---

<div class={containerClasses}>
	<CardContent
		src={src}
		alt={alt}
		title={title}
		description={description}
		tools={tools}
	/>
</div>
