---
import Layout from '../layouts/Layout.astro';
import { Header, Section, Title, ContentContainer, MyImage, H2, P, H3, Card } from '../components';
import zartin1 from '../assets/images/zartin_1.jpg';
import craft from '../assets/images/cards/craft.png';
import journey from '../assets/images/cards/journey.png';
import contact from '../assets/images/cards/contact.png';
import feats from '../assets/images/cards/feats1.png';


import { Image } from 'astro:assets';

---

<Layout title="Welcome to my Portfolio">
	<!-- Header on each page due to View Transition problem when in Layout -->
	<Header page="home"/>
	<main>
		<Section>
			<ContentContainer>
				<Title/>
			</ContentContainer>
			<ContentContainer className="flex justify-center items-center">
				<MyImage src={zartin1} alt="portrait of Martin - ai generated" width={400}/>
			</ContentContainer>
		</Section>
		<Section backgroundColor="secondary">
			<ContentContainer singleContainer>
				<H2 className="mb-4" >Building Tomorrow's Solutions Together — Today.</H2>
				<P>Your project is my project: I deliver comprehensive software solutions with a <span class="text-clr-primary">customer-first</span> ethos. As a dedicated problem-solver, I tackle challenges head-on to create robust, scalable products. Let's collaborate and build tomorrow's solutions—today.</P>
			</ContentContainer>
		</Section>
		<Section>
			<ContentContainer singleContainer className="grid grid-cols-2 grid-rows-2 gap-20">
				<Card src={craft} alt="craft background" href="/craft" title="Craft" description="See my craft"/>
				<Card src={feats} alt="craft background" href="/feats" title="Feats" description="See my craft"/>
				<Card src={journey} alt="craft background" href="/journey" title="Journey" description="See my craft"/>
				<Card src={contact} alt="craft background" href="/contact" title="Contact" description="See my craft"/>
			</ContentContainer>
		</Section>
	</main>
</Layout>

<style>
</style>
