---
import type { TransitionAnimationValue } from 'astro';

interface Props {
    href: string,
    className?: string,
    rel?: string,
    transitionAnimate?: TransitionAnimationValue,
    transitionName?: string,
}

const { href, className, rel, transitionAnimate, transitionName } = Astro.props;
const { lang = '' } = Astro.params;
const langLink = lang ? `/${lang}${href}` : href;
---

<a
    href={langLink}
    rel={rel}
    class={className}
    transition:name={transitionName}
    transition:animate={transitionAnimate}
>
    <slot/>
</a>