---
interface Props {
    href: string,
    className?: string,
    rel?: string,
    transitionName?: string,
}

const { href, className, rel, transitionName } = Astro.props;
const { lang = '' } = Astro.params;
const langLink = lang ? `/${lang}${href}` : href;
---

<a
    href={langLink}
    rel="prefetch"
    class={className}
    transition:name={transitionName}
>
    <slot/>
</a>