---
import Logo from '../Icons/Logo.astro';
import DownloadCV from '../DownloadCV/DownloadCV.astro';
import ThemeToggle from '../Icons/ThemeToggle.astro';
import { BackIcon } from '..';

interface Props {
    page?: string;
    isHome?: boolean;
}

const { page, isHome } = Astro.props;

const menu = [
    {
        id: 'home',
        link: '',
        name: 'Home'
    }, 
    {
        id: 'craft',
        link: 'craft',
        name: 'Craft'
    },
    {
        id: 'feats',
        link: 'feats',
        name: 'Feats'
    },
    {
        id: 'journey',
        link: 'journey',
        name: 'Journey'
    },
    {
        id: 'contact',
        link: 'contact',
        name: 'Contact'
    }
];

const isActive = (linkId: string) => {
    const currentPage = page || 'home';
    return currentPage === linkId;
}
// const pageSpecificClasses = isHome ? 'sticky' : 'absolute w-screen -translate-y-full'
const pageSpecificClasses = 'sticky'

const headerClasses = `${pageSpecificClasses} flex gap-4 justify-center bg-dark-bg-p px-12 py-8 z-50 top-0 bg-bg-primary-70 shadow-header backdrop-blur-lg shadow-fg-primary h-32`;

const animateHeader = {
  old: {
    name: 'toHeaderOld',
    fillMode: 'forwards',
  },
  new: {
    name: 'toHeaderNew',
    fillMode: 'backwards',
  }
};

const myHeaderTransition = {
  forwards: animateHeader,
  backwards: animateHeader,
};
---

<header
    id="header"
    class={headerClasses}
    transition:name="header"
    transition:animate={myHeaderTransition}
>
    <div class="flex gap-4 items-center justify-between w-200">
        { isHome ? 
            <Logo/>
             :
            <BackIcon/>
        }
        <div class="flex gap-12 items-center">
            <!-- <nav class="grid grid-cols-5 gap-10">
                {menu.map(menuItem => 
                    <Link linkInfo={menuItem} active={isActive(menuItem.id)}/>
                )}
            </nav> -->
            <ThemeToggle/>
            <DownloadCV/>
        </div>
    </div>
</header>
