---
import Layout from '../../layouts/Layout.astro';
import type { Translations } from '../../utils/typings';
import { Section, Title, ContentContainer, MyImage, H2, P, CardLink } from '../../components';
import zartin1 from '../../assets/images/zartin_1.jpg';
import craft from '../../assets/images/cards/craft.png';
import feats from '../../assets/images/cards/feats.png';
import journey from '../../assets/images/cards/journey.png';
import contact from '../../assets/images/cards/contact.png';

interface Props {
	T: Translations['HOME']
}

const { T } = Astro.props;

const images = [craft, feats, journey, contact];
const linkInfos = Object.keys(T.CARDS).map((key, idx) => {
	const cardKey = key as keyof typeof T.CARDS;
	return {
		id: cardKey,
		image: images[idx],
		alt: T.CARDS[cardKey].ALT,
		href: `/${cardKey}`,
		title: T.CARDS[cardKey].TITLE,
		description: T.CARDS[cardKey].DESCRIPTION
	}
});

---

<Layout title="Welcome to my Portfolio">
	<main class="flex-grow">
		<Section>
			<ContentContainer>
				<Title T={T.INTRO.TITLE} />
			</ContentContainer>
			<ContentContainer className="flex justify-center items-center">
				<MyImage src={zartin1} alt="portrait of Martin - ai generated" width={600}/>
			</ContentContainer>
		</Section>
		<Section backgroundColor="secondary">
			<ContentContainer singleContainer>
				<H2 className="mb-4" >{T.TEASER.TITLE}</H2>
				<P className="text-center">{T.TEASER.DESCRIPTION_1}<span class="text-clr-primary">{T.TEASER.CUSTOMER_FIRST}</span>{T.TEASER.DESCRIPTION_2}</P>
			</ContentContainer>
		</Section>
		<Section>
			<ContentContainer singleContainer className="flex flex-col desktop:grid grid-cols-2 grid-rows-2 gap-20">
				{linkInfos.map(info => (
					<CardLink
						id={info.id}
						src={info.image}
						alt={info.alt}
						href={info.href}
						title={info.title}
						description={info.description}
					/>
				))}
			</ContentContainer>
		</Section>
	</main>
</Layout>

<style>
</style>
