---
import { Image } from 'astro:assets';
import { ContentContainer, H1, P, Section } from '../../components';
import { myBackgroundTransition } from '../../utils/animations';

interface Props {
    title: string,
    description: string,
    image: ImageMetadata,
    id: string;
}

const { title, description, image, id } = Astro.props;
const imageClass = id === 'feats' ? 'object-feats' : '';

---

<Section>
    <Image
        src={image} 
        alt={`${id} background image`}
        class={`w-full h-full object-cover absolute opacity-bg-image blur-sm ${imageClass}`}
        transition:name={`${id}-image`}
        transition:animate={myBackgroundTransition}
    />
    <ContentContainer className="z-10">
        <H1 className={`${id}-title text-center desktop:text-left`} transitionName={`${id}-title`} type="xl">{title}</H1>
    </ContentContainer>
    <ContentContainer className="z-10">
        <P className="text-center italic" type="xl">{description}</P>
    </ContentContainer>
</Section>