---
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/journey.png';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';
import JourneySection from '../../sections/JourneySection/JourneySection.astro';
import { stations } from './data';


interface Props {
  T: Translations['JOURNEY']
}

const { T } = Astro.props;

const getPosition = (idx: number) => {
  if (idx === 0) return 'top';
  if (idx === stations.length - 1) return 'bottom';
  return 'default';
}

---

<Layout title="Journey - Career Path and Milestones">
    <main transition:name="journey" class="flex-grow mt-header" transition:persist="journey-page">
      <IntroSection
        id="journey",
        image={image}
        title={T.TITLE}
        description={T.DESCRIPTION_LONG}
      />

      <div class="relative flex flex-col">
        {stations.map((station, idx) => (
          <JourneySection
            className={idx % 2 === 0 ? 'bg-bg-secondary' : 'bg-bg-primary'}
            station={station}
            position={getPosition(idx)}
            idx={idx}
          />
        ))}
      </div>
    </main>
</Layout>

<script>
  import { setupIntersectionObserver } from './script';

  document.addEventListener('DOMContentLoaded', () => setupIntersectionObserver());
  document.addEventListener('astro:after-swap', () => setupIntersectionObserver());
</script>