---
import { Image } from 'astro:assets';

interface Props {
    src: ImageMetadata,
    alt: string,
    width: number,
    height?: number
}

const { src, alt, width, height } = Astro.props;

---


<div class="flex rounded-full border-clr-primary border-4 overflow-hidden max-w-full" style={` width: ${width}px;`}>
    <Image
        src={src}
        alt={alt}
        width={width}
        onload="this.classList.remove('animate-image')"
        onerror="this.classList.remove('animate-image')"
        height={height}
        loading="eager"
        class="w-full hover:scale-105 transition-transform duration-500 bg-clr-primary animate-image"
    />
</div>