---
import Layout from '../../layouts/Layout.astro';
import { ContentContainer, H2, Section } from '../../components';
import image from '../../assets/images/cards/craft.png';
import icons from '../../assets/icons';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';
import { Image } from 'astro:assets';



interface Props {
  T: Translations['CRAFT']
}

const { T } = Astro.props;


---

<Layout title="Craft - My Expertise">
  <!-- <Header page="craft"/> -->
  <main transition:name="craft">
    <IntroSection
      id="craft"
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION}
    />

    <!-- Technologies Section -->
    <Section backgroundColor="secondary">
      <ContentContainer singleContainer>
        <H2>Technologies I have worked with</H2>
        <ul class="grid grid-cols-4 grid-rows-4 gap-16 mt-16">
          { icons.map(icon => (
            <li class="flex justify-center">
              <Image src={icon.img} alt={icon.alt} height="96"/>
            </li>
          ))}
        </ul>
      </ContentContainer>
    </Section>

    <!-- Methologies/Services Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2>My Technical Manifesto</H2>
        <ul>
          <li>Backend Development</li>
          <li>Frontend Development</li>
          <li>DevOps</li>
        </ul>
      </ContentContainer>
    </Section>

    <!-- Certifications Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2>Certifications</H2>
        <ul>
          <li>AWS Certified Solutions Architect</li>
          <li>Google Cloud Professional Cloud Architect</li>
          <!-- Add more as needed -->
        </ul>
      </ContentContainer>
    </Section>
  </main>
</Layout>