---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { Card, ContentContainer, H2, Section } from '../../components';
import image from '../../assets/images/cards/craft.png';
import icons from '../../assets/icons/technologies';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';
import client from '../../assets/images/manifesto/handshake.png';
import technical from '../../assets/images/manifesto/technical-services.png';
import aws from '../../assets/images/manifesto/cloud-expertise.png';
import codequality from '../../assets/images/manifesto/code-quality.png';

interface Props {
  T: Translations['CRAFT']
}

const { T } = Astro.props;

const images = [client, technical, aws, codequality];
const manifestoInfo = Object.keys(T.MANIFESTO).map((key, idx) => {
	const cardKey = key as keyof typeof T.MANIFESTO;
	return {
		image: images[idx],
		alt: T.MANIFESTO[cardKey].ALT,
		title: T.MANIFESTO[cardKey].TITLE,
		description: T.MANIFESTO[cardKey].DESCRIPTION,
    tools: T.MANIFESTO[cardKey].TOOLS
	}
});


---

<Layout title="Craft - My Expertise">
  <main transition:name="craft" class="flex-grow">
    <IntroSection
      id="craft"
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION_LONG}
    />

    <!-- Technologies Section -->
    <Section backgroundColor="secondary">
      <ContentContainer singleContainer>
        <H2 className="mb-16 text-center">Technologies I have worked with</H2>
        <ul class="grid grid-cols-2 grid-rows-8 desktop:grid-cols-4 desktop:grid-rows-4 gap-y-16 gap-x-32">
          { icons.map(icon => (
            <li class="group flex flex-col justify-center items-center gap-4">
              <Image src={icon.img} alt={icon.alt} height="96"/>
              <span class="text-body-xl text-fg-primary opacity-0 translate-y-1/2 scale-y-0 group-hover:opacity-100 group-hover:translate-y-0 group-hover:scale-y-100 transition-all">{icon.text}</span>
            </li>
          ))}
        </ul>
      </ContentContainer>
    </Section>

    <!-- Methologies/Services Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2 className="mb-16">My Technical Manifesto</H2>
        <div class="flex flex-col desktop:grid grid-cols-2 grid-rows-2 gap-20">
          {manifestoInfo.map(info => (
            <Card
              src={info.image}
              alt={info.alt}
              title={info.title}
              description={info.description}
              tools={info.tools}
            />
          ))}
        </div>
      </ContentContainer>
    </Section>
  </main>
</Layout>