---
import { LangLink } from '..';
interface Props {
    active?: boolean,
    linkInfo: { id: string, link: string, name: string}
}

const { active, linkInfo } = Astro.props;

const getTransitionName = (linkInfo: { id: string, link: string, name: string}) => {
    return active ? undefined : linkInfo.id;
}
const afterElClasses = "after:w-full after:h-0.5 after:absolute after:bottom-0 after:left-0 after:origin-left after:transition-transform after:scale-x-0 after:hover:scale-x-100" 
const className = `h-fit transition-colors relative font-americano text-body ${active ? 'text-clr-primary after:bg-clr-primary' : 'text-fg-primary after:bg-fg-primary'} ${afterElClasses}`;
---

<div class="flex items-center">
    <LangLink
        rel="prefetch-intent"
        href={`/${linkInfo.link}`}
        transitionName={getTransitionName(linkInfo)}
        className={className}
    >
        {linkInfo.name}
    </LangLink>
</div>
